@use '@/styles/colors' as *;

@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition {
  transition: all 0.1s ease-in-out;
}

@mixin shadow-s {
  -webkit-box-shadow: 0px 4px 24px -15px $color-border;
  -moz-box-shadow: 0px 4px 24px -15px $color-border;
  box-shadow: 0px 4px 24px -15px $color-border;
}

@mixin card-s {
  @include shadow-s;

  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 12px;
}
